{% extends "base/base.html" %}
{% block content %}

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="table-responsive">
        <h4 class="card-title">Data Pemesanan</h4>
        <p class="card-description"> Berikut adalah data pemesanan saat ini. </p>
        </p>
        {% if is_owner or is_admin %}
        <a href="{% url 'create_pemesanan' %}"><button  class="btn btn-info"><i class="mdi mdi mdi-plus align-middle"></i>Create Pemesanan</button></a>
        {% endif %}
        <table class="table table-hover">
          <thead>
            <tr>
                <th>No</th>
                <th>ID Pemesanan</th>
                <th>ID Penumpang</th>
                <th>Nama</th>
                <th class = "text-center">ID Detail Kelas Layanan</th>
                <th class = "text-center">Detail Pemesanan</th>
                <th class = "text-center">Total Harga</th>
                {% if is_owner or is_admin %}
                <th class = "text-center">Nota</th>
                <th class = "text-center" style="width: 200px;">Action</th>
                {% endif %}
            </tr>
          </thead>
          <tbody>
            {% for i in pemesanan_data %}
            <tr>
                <td>{{ forloop.counter}}</td>
                <td>{{ i.pemesanan.idpemesanan }}</td>
                <td>{{ i.pemesanan.idpenumpang.idpenumpang }}</td>
                <td>{{ i.pemesanan.idpenumpang.nama }}</td>
                <td>{{ i.pemesanan.iddetailkelaslayanan.idbis }}<div>Kelas: {{ i.pemesanan.iddetailkelaslayanan.idkelaslayanan }}</div></td>
                <td>
                    <div>
                        {% if is_owner or is_admin %}
                        <a href="{% url 'create_detailpemesanan' i.pemesanan.idpemesanan %}"><button class="btn-outline-info me-1"><i class="mdi mdi-plus align-middle"></i>Create Detail Pemesanan</button></a>
                        {% endif %}
                        <br><br>
                        {% for item in i.pemesanan.detailpemesanan_set.all %}
                        <h7>{{ forloop.counter }} : {{ item.idlayanantambahan.namalayanan}}</h7>
                        {% if is_owner or is_admin %}
                        <div><a href="{% url 'update_detailpemesanan' item.iddetailpemesanan %}"><button class="btn-outline-warning me-1"><i class="mdi mdi-reload btn-icon-prepend align-middle"></i>Update Detail Pemesanan</button></a></div>
                        {% endif %}
                        {% if is_owner %}
                        <div><a href="{% url 'delete_detailpemesanan' item.iddetailpemesanan %}"><button class="btn-outline-danger me-1"><i class="mdi mdi-delete btn-icon-prepend align-middle"></i>Delete Detail Pemesanan</button></a></div>
                        {% endif %}
                        <br><br>
                        {% endfor %}
                    </div>
                </td>
                <td>Rp {{ i.total_harga }}</td>
                <td>
                  {% if is_owner or is_admin %}
                  <a href="{% url 'notapdf' i.pemesanan.idpemesanan %}"><button class="btn btn-success me-1"><i class="mdi mdi-receipt btn-icon-prepend align-middle"></i>Cetak Nota</button></a>
                  {% endif %}
                </td>
                <td>
                    {% if is_owner or is_admin %} 
                    <a href="{% url 'update_pemesanan' i.pemesanan.idpemesanan %}"><button class="btn btn-warning me-1"><i class="mdi mdi-reload btn-icon-prepend align-middle"></i>Update Pemesanan</button></a>
                    {% endif %}
                    {% if is_owner %}
                    <a href="{% url 'delete_pemesanan' i.pemesanan.idpemesanan %}"><button class="btn btn-danger me-1"><i class="mdi mdi-delete btn-icon-prepend align-middle"></i>Delete Pemesanan</button></a>
                    {% endif %}
                  </td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}